.home {
    height: 1500px;
    background-color: var(--main-color);
    overflow: hidden;
}

.notice {
    z-index: 999;
    text-align: center;
    color: white;
    padding: 20px 0px;
    font-size: 16px;
    background-color: rgb(190, 16, 16);
    border-radius: 999px;
    margin: 20px 180px;
    text-transform: uppercase;
}