.app.dark { 
    background-color: #1f1f1f;
    color: rgb(255, 255, 255);

    .home { 
        background-color: #1f1f1f;
        color: rgb(255, 255, 255);
    }
    .chartGrid { 
        background-color: #1f1f1f;
        color: rgb(255, 255, 255) ;
    }
}