.watch {
    // width: 100%;
    height: 100vh;
    overflow: none;
    background-color: var(--main-color);
    .back {
        position: fixed;
        display: flex;
        align-items: center;
        top: 10px;
        left: 10px;
        color: white;
        cursor: pointer;
        z-index: 999;
    }
    // .video {
    //     width: 100%;
    //     height: 100%;
    //     object-fit: cover;
    // }
}

.video {
    width: 100%;
    height: 50vh;
    object-fit: cover;
}