.loginForm {
    width: 100vw;
    height: 100vh;
    background: linear-gradient( to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%), url("https://browsecat.net/sites/default/files/netflix-background-128505-385456-9916359.png");
    background-size: cover;
    position: relative;
    .headerLogin {
        .wrapperLogin {
            padding: 20px 50px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .logo {
                height: 40px;
            }
        }
    }
    .containerLogin {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: white;
        .formLogin {
            width: 300px;
            height: 300px;
            padding: 30px;
            border-radius: 5px;
            background-color: var(--main-color);
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            .inputLogin {
                height: 40px;
                border-radius: 5px;
                background-color: white;
                color: black;
                padding-left: 10px;
                padding: 5px 0;
                &::placeholder {
                    color: lightgray;
                }
            }
            .loginButton {
                margin-top: 5px;
                height: 40px;
                border-radius: 5px;
                background-color: red;
                color: white;
                border: none;
                font-size: 18px;
                font-weight: 500;
                cursor: pointer;
            }
            .breifLogin,
            .policy {
                margin-top: 10px;
                color: lightgray;
                b {
                    color: white;
                }
                .signUp {
                    text-decoration: none;
                }
            }
        }
    }
}