.user {
    padding: 75px 150px;
    background-color: black;
    height: 100vh;
    width: 100%;
    color: #E50914;
}

.newUserItem>input {
    height: 20px;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
}

.newUserGender>input {
    margin-top: 15px;
}

.newUserGender>label {
    margin: 10px;
    color: #555;
}

.newUserItem>input {
    height: 20px;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
}

.newUserGender>input {
    margin-top: 15px;
}

.newUserGender>label {
    margin: 10px;
    font-size: 18px;
    color: #555;
}

.userTitleContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.userTitle {
    font-size: 30px;
}

.userAddButton {
    width: 80px;
    border: none;
    padding: 5px;
    background-color: teal;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-size: 16px;
}

.userContainer {
    display: flex;
    margin-top: 50px;
}

.userShow {
    flex: 1 1;
    padding: 20px;
    -webkit-box-shadow: 0px 0px 15px 10px rgb(229 9 20 / 80%);
    box-shadow: 0px 0px 15px 10px rgb(229 9 20 / 80%);
    color: #fff;
}

.userUpdate {
    flex: 2;
    padding: 20px;
    -webkit-box-shadow: 0px 0px 15px 10px rgb(229 9 20 / 80%);
    box-shadow: 0px 0px 15px 10px rgb(229 9 20 / 80%);
    margin-left: 20px;
}

.userShowTop {
    display: flex;
    align-items: center;
}

.userShowImg {
    width: 40%;
    height: 40%;
    border-radius: 50%;
    object-fit: cover;
}

.userShowTopTitle {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.userShowUsername {
    font-weight: 600;
}

.userShowUserTitle {
    font-weight: 300;
}

.userShowBottom {
    margin-top: 20px;
    color: #fff;
}

.userShowTitle {
    font-size: 14px;
    font-weight: 600;
    /* color: rgb(175, 170, 170); */
}

.userShowInfo {
    display: flex;
    align-items: center;
    margin: 20px 0px;
    color: #fff;
}

.userShowIcon {
    font-size: 16px !important;
}

.userShowInfoTitle {
    margin-left: 10px;
}

.userUpdateTitle {
    font-size: 24px;
    font-weight: 600;
    color: #fff;
}

.userUpdateForm {
    display: flex;
    justify-content: space-between;
    color: #fff;
}

.userUpdateItem {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.userUpdateItem>label {
    margin-bottom: 5px;
    font-size: 14px;
}

.userUpdateInput {
    border: none;
    border-radius: 15px;
    outline: none;
    width: 250px;
    height: 30px;
    padding: 5px 10px;
}

.selectInput {
    border: none;
    border-radius: 15px;
    outline: none;
    width: 250px;
    height: 30px;
    padding: 5px 10px;
}

.uploadInput {
    border: none;
    border-radius: 15px;
    outline: none;
    height: 30px;
    padding: 5px 10px;
}

.userUpdateRight {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.userUpdateUpload {
    display: flex;
    align-items: center;
}

.userUpdateImg {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    object-fit: cover;
    margin-right: 20px;
}

.userUpdateIcon {
    cursor: pointer;
}

.userUpdateBtn {
    border-radius: 5px;
    border: none;
    padding: 5px;
    cursor: pointer;
    background-color: rgba(208, 19, 19, 0.63);
    color: white;
    font-weight: 600;
}

.userUpdateBtn:hover {
    background-color: rgba(208, 19, 19, 0.8);
}